#header {
  height: 50px;
  background-color: rgb(32, 32, 32);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  padding: 0px 30px;

  margin: 10px 20px 0px 20px;
  position: fixed;
  top: 0; /* Fixes the header at the top */
  left: 0; /* Aligns the header to the left edge */
  right: 0; /*Aligns the header to the right edge */
  z-index: 1000;
  box-shadow: 0px 0px 10px 20px rgb(20, 20, 20);
}

/* .cart-icon {
  height: 10%;
} */

#counter {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid white;
  font-family: Helvetica, sans-serif;
  font-size: small;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(48, 121, 224);
}

#complete-cart {
  display: flex;
  margin-right: 20px;
  height: 70%;
  /* align-items: end; */
}

.logo {
  height: 70%;
}
