#filter-price {
  width: 90%;
  /* height: 100px; */
  /* background-color: rgb(40, 40, 40); */
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  /* align-items: center;
    justify-content: end; */
}
.price-range-title {
  font-size: 16px;
  color: rgb(203, 203, 203);
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.dropdown-icon {
  height: 15px;
  margin-left: 10px;
  transition: transform 0.1s ease;
}

.dropdown-icon-reverse {
  transform: rotate(180deg);
}
.filter-body {
  position: relative;
  top: -30px;
  /* display: none;
  transition: top 0.5s ease, display 0.5s ease; */
  opacity: 0%;
  position: absolute;
  z-index: -5;
  transition: top 0.1s ease, opacity 0.1s ease, position 0.1s ease;
}

.filter-body-display {
  top: 0px;
  opacity: 100%;
  position: relative;
  transition: top 0.1s ease, opacity 0.1s ease, position 0.1s ease;
  /* display: block; */
}

.horizontal-slider {
  /* background: rgb(255, 0, 0); */
  /* height: 30px; */
  background: red;
}
.horizontal-slider .example-track {
  top: 5px;
  height: 10px;
  border-radius: 5px;
  background: rgb(207, 207, 207);
}
/* .example-track {
    background: rgb(221, 221, 221);
  } */
.example-track.example-track-1 {
  background: rgb(46, 133, 255);
}
.example-track {
  background: rgb(221, 221, 221);
}
.horizontal-slider .example-thumb {
  /* top: 1px; */
  width: 30px;
  height: 20px;
  line-height: 20px;
}
.example-thumb {
  font-size: 12px;
  text-align: center;
  background-color: rgb(78, 78, 78);
  color: white;
  cursor: pointer;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  /* position: relative;
  top: 5px; */
  /* box-sizing: border-box; */
}
